.container{
    position: relative;
    text-align: center;
    color: white;
}

.topright{
    position: absolute;
    top: 20px;
    right: 200px;
    color: black;
    font-size: 35px;
    font-weight: 500;
}

.topleft{
    position: absolute;
    clip-path: circle();
    top: 120px;
    left: 150px;
    height: 150px;
    width: 150px;
}

.bottom-left {
    position: absolute;
    bottom: 80px;
    left: 30px;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.middle{
    position: absolute;
    top: 0px;
    left: 450px;
    right: 300px;
    height: 300px;
    width: 300px;
}

.countdowntimer{
    position: absolute;
    display: inline-flex;
    line-height: 3;
    padding: 20px;
    top: 25px;
    left: 500px;
    height: 120px;
    width: 70px;
}

.timer{
    font-size: 20px;
    font-weight: 500;
    color: rgb(148, 69, 4);
}

.text-timer{
    position: absolute;
    right: 100%;
    left: 33%;
    bottom: 30%;
    text-align: center;
    background-color: white;
    color: white;
    display: block;
}

@media screen and (max-width: 500px) {
    .container{
        width: 100%;
    }
}